#pane{ 
    -fx-background-image: url("/images/Background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 720; 
    -fx-background-position: center center; 
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0,0); 
}

#game-root{ 
    -fx-background-image: url("/images/GameBoardBackGround.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 720; 
    -fx-background-position: center center; 
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0,0); 
}



.button-yellow-state {
    -fx-background-color: linear-gradient(to bottom , #FFF7D0, #FBBF54);
    -fx-text-fill: rgba(171, 82, 54, 1);
    -fx-font-size: 25px;
    -fx-font-weight: bold;
   
    -fx-background-radius: 12px; 
    -fx-alignment: center; 
    -fx-border-color: #FBBF54;
    -fx-border-width: 3px;
    -fx-border-radius: 12px;
    -fx-pref-height: 65px; 
    -fx-pref-width: 65px;
    
}

.button-green-state {
    -fx-background-color: linear-gradient(to bottom, #DAEFAA, #78D998, #15C285);
    -fx-text-fill: rgba(5, 84, 89, 1);
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(218, 239, 170, 1), 0, 3, 0, 0);
    -fx-background-radius: 12px;
    -fx-alignment: center;
    -fx-border-color: #15C285;
    -fx-border-width: 3px;
    -fx-border-radius: 12px;
    -fx-pref-height: 65px;
    -fx-pref-width: 65px;
}

.button-neutral-state{ 
    -fx-background-color: linear-gradient(to bottom , rgba(240, 240, 240, 1), rgba(218, 218, 220, 1), rgba(194, 195, 199, 1));
    -fx-text-fill: rgba(95, 87, 79, 1); 
    -fx-font-size: 25px;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2, 2 , 0 , 0 );
    -fx-background-radius: 12px; 
    -fx-alignment: center; 
    -fx-border-color: rgba(194, 195, 199, 1);
    -fx-border-width: 3px;
    -fx-border-radius: 12px;
    -fx-pref-height: 65px; 
    -fx-pref-width: 65px;
}

.button-blue-state {
    -fx-background-color: linear-gradient(to bottom , rgb(37, 37, 133), rgb(15, 72, 110), rgb(31, 144, 255));
    -fx-text-fill: rgb(255, 255, 255); 
    -fx-font-size: 25px;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2, 2 , 0 , 0 );
    -fx-background-radius: 12px; 
    -fx-alignment: center; 
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-pref-height: 65px; 
    -fx-pref-width: 65px;
}
    
